KC_CLIENT_ID=php-unit-test-client
KC_CLIENT_SECRET=super-secret-in-.env-file
KC_REALM=keycloak-sdk-php-unit
KC_URL=https://iam-acsystems.test.acweblabs.com
KC_AUTH_REALM=master
# Blank will pass empty string, so use the actual value you want.
KC_API_PATH=/auth
